.home{
    width: 99%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.SideNav{
    flex: 1; 
    margin: 10px;
}

.cardWrapper{
    flex: 2;
    width: 60%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease-in-out;
    /* align-items: self-end; */
}

.done{
    color: green;
}

.notDone{
    color: red;
}

